{% extends 'base.html' %}
{% block style %}
<style>
  ul.row {
    margin: 0;
  }
  ul.row li button {
      overflow: hidden;
      height: 6em;
      width: 6em;
  }

  ul.row li  {
      display: inline-block;
  }

  button.btn-marker  {
    padding: 0;
    margin: 0;
    /*background-color: #4CAF50;*/
  }

  button span {
      font-size: 5em;
      align-content: center;
      margin: 0;
      padding: 0;
  }
  body { padding-bottom: 70px; }
/* or whatever mobile viewport */
@media only screen and (max-width: 960px) {
  .filler { display: none}
}
</style>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified JavaScript -->
<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
{% end %}
{% block body %}

  <div class="align-items-center justify-content-center">
  <h1 class="text-primary">OTHELLO</h1>

  <div class="row">
    <div class="one-third column">
      {% module xsrf_form_html() %}
      <input class="u-full-width" type="text" placeholder="Enter Game Room # to Join" id="game-room">
    </div>
    <div class="one-third column">
      <input class="button-primary" type="submit" id="game-submit" value="New Game">
      <BR>
      <form action="/allgames">
        {% module xsrf_form_html() %}
      <button class="btn btn-info" type="submit" id="game-all">
        Past Games
      </button>
      </form>
    </div>
    <div class="one-third column">
    <form action="/auth/logout" method="post">
      {% module xsrf_form_html() %}
    <button class="btn btn-danger" type="submit" id="game-logout">
      Log out
    </button>
    </form>
    </div>
  </div>
  <div class="row">
      <div class="one-third column"> 
    <table class="table">
          <thead>
              <tr>
                  <th scope="col">User: <a id="uname"></a></th>
              </tr>
              <tr>
                <th scope="col">Your Game Statistics</th>
              </tr>
            <tr>
              <th scope="col">Won</th>
              <th scope="col">Lost</th>
              <th scope="col">Draw</th>
            </tr>
          </thead>
          <tbody>
              
              <tr>
                
                <td>{{ db_data["win"] }}</td>
                <td>{{ db_data["lose"] }}</td>
                <td>{{ db_data["draw"] }}</td>
                
              </tr>
              
            </tbody>
          </table>
        </div>
  </div>
  <div class="row">
  <h5 id="message" class="alert alert-info col-sm-3" >Connecting ...</h5>
  <div class="one-third column">
<table class="bordered">
        <thead>
          <tr>
              <th>Player Name</th>
              <th>Marker</th>
              <th>Score</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="p1name"></td>
            <td><i class="material-icons">brightness_1</i></td>
            <td class="p1score"></td>
          </tr>
          <tr>
            <td class="p2name"></td>
            <td><i class="material-icons">radio_button_unchecked</i></td>
            <td class="p2score"></td>
          </tr>
          </tbody>
</table>
</div>
  </div>
</div>
<div class="row">
 <div class="container"> 
  <div class="left-align">
      <ul class="row">
        <li><button class="btn-marker" value="0,0"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="0,1"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="0,2"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="0,3"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="0,4"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="0,5"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="0,6"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="0,7"><span class="content"></span></button></li>
        </ul>
      <ul class="row">
        <li><button class="btn-marker" value="1,0"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="1,1"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="1,2"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="1,3"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="1,4"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="1,5"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="1,6"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="1,7"><span class="content"></span></button></li>
      </ul>
      <ul class="row">
        <li><button class="btn-marker" value="2,0"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="2,1"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="2,2"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="2,3"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="2,4"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="2,5"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="2,6"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="2,7"><span class="content"></span></button></li>
      </ul>
      <ul class="row">
        <li><button class="btn-marker" value="3,0"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="3,1"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="3,2"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="3,3"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="3,4"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="3,5"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="3,6"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="3,7"><span class="content"></span></button></li>
      </ul>
      <ul class="row">
        <li><button class="btn-marker" value="4,0"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="4,1"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="4,2"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="4,3"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="4,4"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="4,5"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="4,6"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="4,7"><span class="content"></span></button></li>
      </ul>
      <ul class="row">
        <li><button class="btn-marker" value="5,0"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="5,1"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="5,2"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="5,3"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="5,4"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="5,5"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="5,6"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="5,7"><span class="content"></span></button></li>
      </ul>
      <ul class="row">
        <li><button class="btn-marker" value="6,0"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="6,1"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="6,2"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="6,3"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="6,4"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="6,5"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="6,6"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="6,7"><span class="content"></span></button></li>
      </ul>
      <ul class="row">
        <li><button class="btn-marker" value="7,0"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="7,1"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="7,2"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="7,3"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="7,4"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="7,5"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="7,6"><span class="content"></span></button></li>
        <li><button class="btn-marker" value="7,7"><span class="content"></span></button></li>
      </ul>
     </div>
   </div>
<div class="center-align">
 <ul class="collection with-header" id="gamesTable">
        <li class="collection-header"><h4>Open Games</h4><h6>Click to Connect</h6></li>
        <li class="collection-item" id="0"></li>
        <li class="collection-item" id="1"></li>
        <li class="collection-item" id="2"></li>
        <li class="collection-item" id="3"></li>
        <li class="collection-item" id="4"></li>
        <li class="collection-item" id="5"></li>
        <li class="collection-item" id="6"></li>
        <li class="collection-item" id="7"></li>
        <li class="collection-item" id="8"></li>
        <li class="collection-item" id="9"></li>
</div>
</div>

</div>
{% end %}
{% block js %}
  <script type="text/javascript" src="{{ static_url('othello.js') }}"></script>
{% end %}
